<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <header class="navbar">Centre d'opérations IoT</header>

    <div class="grid">
        <% capteursList.forEach(function(capteur){%>
        <div class="item" id="card_<%= capteur.nom %>">
            <center><h3><%= capteur.nom %></h3></center><br>
            <p>Température : <%= capteur.temp %>°C</p>
            <p>Min : <%= capteur.minTemp %>°C</p>
            <p>Max : <%= capteur.maxTemp %>°C</p><br>

            <div class="settings">
                <label for="tempminsouhaitee">Température minimale souhaitée : </label><input type="number" class="inputtemp" name="tempminsouhaitee" min="15" max="28" id="newMinTemp_<%= capteur.nom %>" value="<%= capteur.minTemp %>"><br>
                <label for="tempmaxsouhaitee">Température maximale souhaitée : </label><input type="number" class="inputtemp" name="tempmaxsouhaitee" min="15" max="28" id="newMaxTemp_<%= capteur.nom %>" value="<%= capteur.maxTemp %>"><br><br>
                <center><input type="submit" value="Valider ✔" class="inputsubmit" onclick="setPoint('<%= capteur.nom %>')"></center>
            </div>

        </div>
        <% }); %>
    </div>

    <%datasList.forEach(function(data) {%>
        <p><%= data.min %></p>
        <p><%= data.max %></p>
    <%})%>

    <% var temp = capteursList[0].temp
       var nom = capteursList[0].name %>

       <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    
       <script>
        function setPoint(id)
        {
            var newMinTemp = document.getElementById('newMinTemp_' + id).value;
            var newMaxTemp = document.getElementById('newMaxTemp_' + id).value;
            console.log("newMin : " + newMinTemp);
            console.log("newMax : " + newMaxTemp);
            var data = {minTemp:newMinTemp, maxTemp:newMaxTemp, nom:id}

            $.post( "/setPoint", data, function( reponse ) 
            {
                console.log("test");
                console.log(reponse);
                console.log("test2");
                location.reload(true);
            });

            var MongoClient = require('mongodb').MongoClient;
            var url = "mongodb://127.0.0.1:27017/";

            MongoClient.connect(url, function(err, db) {
            if (err) throw err;
            var dbo = db.db("mydb");
            var myquery = { address: /^S/ };
            var newvalues = {$set: {min: newMinTemp}, $set: {max: newMaxTemp} };
            dbo.collection("Datas").updateMany(myquery, newvalues, function(err, res) {
                if (err) throw err;
                console.log(res.result.nModified + " document(s) updated");
                db.close();
            });
            });
        }

        var getTemp = '<%= temp %>';
        var getTemp2 = '<%= temp2 %>';
        var getNom = '<%= nom %>';
        var getNom2 = '<%= nom2 %>';
        var card = document.getElementById('card_'+ getNom);
        var card2 = document.getElementById('card_'+ getNom2);

        if(getTemp < 18)
        {
            card.style.backgroundColor = "#4d79ff";
        }
        else if(getTemp > 23)
        {
            card.style.backgroundColor = "#ff471a";
        }

        if(getTemp2 < 18)
        {
            card2.style.backgroundColor = "#4d79ff";
        }
        else if(getTemp2 > 23)
        {
            card2.style.backgroundColor = "#ff471a";
        }


    </script>
</body>
</html>